/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
.container {
  font-family: 'Roboto', sans-serif;
  max-width: 880px;
  margin: 0 auto;
  padding: 0 1.5%;
}
.container nav {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.container nav .navbar {
  width: 45%;
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .container nav .navbar {
    justify-content: space-around;
    padding-right: 0;
    width: 100%;
  }
}
.container nav .navbar a {
  text-decoration: none;
  color: black;
  padding: 3px;
}
@media (max-width: 600px) {
  .container nav .navbar a {
    padding-left: 10px;
  }
}
@media (max-width: 500px) {
  .container nav .navbar a {
    padding-left: 0;
  }
}
.container nav .navbar a:hover {
  color: darkgray;
}
.container .cta-container {
  background: whitesmoke;
  border-radius: 4px;
}
.container .cta-container .cta-content {
  padding: 50px 30px 60px;
}
.container .cta-container .cta-content .cta-content-top {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .container .cta-container .cta-content .cta-content-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container .cta-container .cta-content .cta-content-top img {
  width: 38%;
  height: auto;
  border-radius: 2px;
}
@media (max-width: 600px) {
  .container .cta-container .cta-content .cta-content-top img {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .container .cta-container .cta-content .cta-content-top img {
    width: 80%;
  }
}
.container .cta-container .cta-content .cta-content-top h1 {
  font-size: 50px;
}
@media (max-width: 600px) {
  .container .cta-container .cta-content .cta-content-top h1 {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .container .cta-container .cta-content .cta-content-top h1 {
    font-size: 2em;
    margin-top: 15px;
  }
}
.container .cta-container .cta-content .cta-content-top p {
  margin-top: 10px;
  font-size: 21px;
}
.container .cta-container .cta-content .cta-content-bottom {
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .container .cta-container .cta-content .cta-content-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}
.container .cta-container .cta-content .cta-content-bottom p {
  padding-bottom: 30px;
}
.container .cta-container .cta-content .cta-content-bottom a {
  background: gray;
  padding: 5px 25px;
  margin: 10px 0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .container .cta-container .cta-content .cta-content-bottom a {
    margin: 0;
  }
}
.container .cta-container .cta-content .cta-content-bottom a:hover {
  background: white;
  color: gray;
}
.container main .main-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0 35px;
}
@media (max-width: 500px) {
  .container main .main-top {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .container main .main-top #mti-1 {
    margin-bottom: 30px;
  }
}
.container main .main-top .main-top-item {
  width: 48%;
}
@media (max-width: 500px) {
  .container main .main-top .main-top-item {
    width: 80%;
  }
}
.container main .main-top .main-top-item h2 {
  font-weight: bold;
  font-size: 25px;
  margin: 0 0 10px;
}
.container main .main-top .main-top-item ul li {
  padding: 7px 0 7px 8px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.container main .main-top .main-top-item ul li:nth-of-type(5) {
  border-bottom: 1px solid gray;
}
.container main .main-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.container main .main-bottom h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0 10px;
}
.container main .main-bottom table th {
  font-weight: bold;
  border-top: 1px solid gray;
}
.container main .main-bottom table td,
.container main .main-bottom table th {
  padding: 10px 0 10px 5px;
  text-align: left;
  border-bottom: 2px solid gray;
}
.container main .main-bottom table tr:nth-child(even) {
  background-color: #f2f2f2;
}
footer {
  margin: 0 auto;
  max-width: 900px;
  background: gray;
  width: 100%;
}
footer p {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 20px 0;
  text-align: center;
}
